<footer class="pt-20 pb-6">
  <div class="text-center">
    <div>© 2024 - [[${#dates.format(#dates.createNow(), 'yyyy')}]] · Liks</div>
    <div>
      Powered by
      <a class="no-underline" href="https://www.halo.run">Halo</a>
      &
      <a class="no-underline" href="https://github.com/Liksone/halo-theme-sora"
        >Sora</a
      >
    </div>

    <!-- © 2024 - [[${#dates.format(#dates.createNow(), 'yyyy')}]] Liks · Powered by
    <a href="https://www.halo.run">Halo</a>
    &
    <a href="/404">主题</a>

    <p>
      © [[${#dates.format(#dates.createNow(), 'yyyy')}]] [[${site.title}]]. All
      rights reserved.
    </p> -->
  </div>
</footer>
