<footer class="pt-20 pb-6">
  <div class="text-center">
    <div>
      ©
      <span
        th:text="${#strings.isEmpty(theme.config.footer.copyright.time)} ? ${#dates.format(#dates.createNow(), 'yyyy')} : ${theme.config.footer.copyright.time}"
      >
      </span>
      ·
      <span
        th:text="${#strings.isEmpty(theme.config.footer.copyright.author)} ? ${site.title} : ${theme.config.footer.copyright.author}"
      >
      </span>
    </div>
    <div>
      Powered by
      <a class="no-underline" href="https://www.halo.run">Halo</a>
      &
      <a class="no-underline" href="https://github.com/Liksone/halo-theme-sora"
        >Sora</a
      >
    </div>
  </div>
</footer>
