<!doctype html>
<header>
  <nav
    class="mb-[32px] flex border-b border-[#ddd] py-[14px] font-mono"
    id="navigation"
  >
    <a href="/" th:text="${site.title}"></a>
    <div class="ml-auto flex flex-row gap-5">
      <th:block th:with="menu = ${menuFinder.getPrimary()}">
        <th:block th:with="menuItems = ${menu.menuItems}">
          <a
            th:each="menuItem : ${menuItems}"
            th:href="@{${menuItem.status.href}}"
            th:text="${menuItem.status.displayName}"
            th:target="${menuItem.spec.target?.value}"
          >
          </a>
        </th:block>
      </th:block>
      <span> | </span>
      <a href="javascript:SearchWidget.open()">
        <span class="icon-[fa-solid--search] iconify-inline"></span>
      </a>
      <a th:if="${theme.config.general.language}" href="/en">EN</a>
    </div>
  </nav>
</header>
