<!doctype html>
<div th:if="@{${component.totalPages}} > 1" class="pagination mt-8 text-center">
  <a
    th:if="${component.hasPrevious()}"
    th:href="@{${component.prevUrl}}"
    rel="prev"
  >
    <span
      class="iconify-middle icon-[material-symbols--chevron-left-rounded]"
    ></span>
  </a>
  <span class="text-[#333]">
    Page [[${component.page}]] of [[${component.totalPages}]]
  </span>
  <a
    th:if="${component.hasNext()}"
    th:href="@{${component.nextUrl}}"
    rel="next"
  >
    <span
      class="iconify-middle icon-[material-symbols--chevron-right-rounded]"
    ></span>
  </a>
</div>
