<!doctype html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="~{module/head(title = '归档' + ' | ' + ${site.title})}">
  </head>

  <body>
    <header th:replace="~{module/header}"></header>

    <div class="mx-auto max-w-[780px]" th:each="archive : ${archives}">
      <h2 th:text="${archive.year}"></h2>
      <th:block th:each="month : ${archive.months}">
        <th:block th:each="post : ${month.posts}">
          <div class="mb-2 ml-4">
            <time
              class="mr-4 font-mono text-[#666]"
              th:datetime="${post.spec?.publishTime}"
              itemprop="datePublished"
              th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
            ></time>
            <span>
              <a
                th:href="@{${post.status.permalink}}"
                th:text="${post.spec.title}"
                class="font-serif font-semibold text-black"
              ></a>
            </span>
          </div>
        </th:block>
      </th:block>
      <!-- <div class="mb-3"></div> -->
    </div>

    <th:block th:replace="~{module/pagination(component=${archives})}">
    </th:block>

    <footer th:replace="~{module/footer}"></footer>
  </body>
</html>
