<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head
    th:replace="~{module/layout :: head(title = '归档' + ' | ' + ${site.title})}"
  >
  </head>

  <body>
    <header th:replace="~{module/header}"></header>

    <!-- <section class="post-archive"> -->
    <div class="mx-auto max-w-[780px]" th:each="archive : ${archives}">
      <h2 th:text="${archive.year}"></h2>
      <th:block th:each="month : ${archive.months}">
        <th:block class="post-item" th:each="post : ${month.posts}">
          <div class="meta mb-2 ml-4">
            <time
              class="mr-4"
              th:datetime="${post.spec?.publishTime}"
              itemprop="datePublished"
              th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
            ></time>
            <span>
              <a
                th:href="@{${post.status.permalink}}"
                th:text="${post.spec.title}"
                class="font-serif no-underline font-semibold text-black"
              ></a>
            </span>
          </div>
        </th:block>
      </th:block>
      <!-- <div class="mb-3"></div> -->
    </div>
    <!-- </section> -->

    <th:block
      th:replace="~{module/pagination :: pagination(component=${archives})}"
    >
    </th:block>

    <footer th:replace="~{module/footer}"></footer>
  </body>
</html>
