<!doctype html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
  <head
    th:replace="~{module/head(title = ${post.spec.title} + ' | ' + ${site.title})}"
  >
  </head>

  <body>
    <header th:replace="~{module/header}"></header>

    <article>
      <!-- 封面图 -->
      <!-- <img -->
      <!--   th:if="${!#strings.isEmpty(post.spec.cover)}" -->
      <!--   th:src="${post.spec.cover}" -->
      <!--   class="shadow-shadow mx-auto mb-8 h-[10rem] w-full rounded-lg object-contain" -->
      <!-- /> -->

      <!-- 标题 -->
      <div
        class="text-center font-serif text-[2rem] font-bold"
        th:text="${post.spec.title}"
      ></div>

      <!-- 文章元信息 -->
      <div class="mt-4 flex flex-wrap justify-center gap-3 font-mono text-sm">
        <!-- 发布时间 -->
        <span>
          <span class="icon-[bx--calendar-alt] iconify-inline"></span>
          <time
            id="post-publish-time"
            th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
          ></time>
        </span>
        <!-- 更新时间 -->
        <th:block th:if="${#annotations.get(post, 'updateTime')}">
          <span
            th:if="${post.metadata.annotations.updateTime} != ${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
          >
            <span class="icon-[bx--calendar-check] iconify-inline"></span>
            <time
              id="post-update-time"
              th:text="${post.metadata.annotations.updateTime}"
            ></time>
          </span>
        </th:block>
        <th:block th:unless="${#annotations.get(post, 'updateTime')}">
          <span
            th:if="${#dates.format(post.status.lastModifyTime, 'yyyy-MM-dd')} != ${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
          >
            <span class="icon-[bx--calendar-check] iconify-inline"></span>
            <time
              id="post-update-time"
              th:text="${#dates.format(post.status.lastModifyTime, 'yyyy-MM-dd')}"
            ></time>
          </span>
        </th:block>
        <!-- 分类 -->
        <span th:if="${not #lists.isEmpty(post.categories)}">
          <span
            class="icon-[material-symbols--folder-outline-rounded] iconify-inline"
          ></span>
          <span>
            <th:block th:each="category : ${post.categories}">
              <a
                th:href="${category.status.permalink}"
                th:text="${category.spec.displayName}"
              ></a>
            </th:block>
          </span>
        </span>
        <!-- 标签 -->
        <span th:if="${not #lists.isEmpty(post.tags)}">
          <span class="icon-[mdi--tag-outline] iconify-inline"></span>
          <span>
            <th:block th:each="tag : ${post.tags}">
              <a
                th:href="${tag.status.permalink}"
                th:text="${tag.spec.displayName}"
              ></a>
            </th:block>
          </span>
        </span>
        <!-- 字数统计 -->
        <span>
          <span class="icon-[icon-park-outline--word] iconify-inline"></span>
          <span id="post-wordcount"></span>
        </span>
        <!-- 预计阅读时间 -->
        <span>
          <span class="icon-[mingcute--time-line] iconify-inline"></span>
          <span id="post-readtime"></span>
        </span>
        <!-- 浏览量 -->
        <span>
          <span class="icon-[uil--chart-line] iconify-inline"></span>
          <span th:text="${post.stats.visit}"></span>
        </span>
      </div>

      <!-- 摘要 -->
      <!-- <div class="card abstract my-4 text-sm"> -->
      <!--   <span th:text="${post.status.excerpt}"></span> -->
      <!-- </div> -->

      <!-- 时效性提示 -->
      <div class="card post-time-tips text-gray my-4 text-sm">
        <span id="post-time-tips-span"></span>
      </div>

      <section class="relative">
        <div id="post-content" th:utext="${post.content.content}"></div>

        <!-- <hr class="my-8 border-t-4 text-black opacity-10" /> -->

        <!-- 版权许可协议 -->
        <div class="card mt-14 px-6 py-4" id="license">
          <div id="license-icon"></div>

          <div th:text="${post.spec.title}"></div>
          <div
            class="license-item mt-1"
            th:with="cleanedUrl=${#strings.endsWith(site.url, '/')
              ? #strings.substring(site.url, 0, #strings.length(site.url)-1)
              : site.url}"
            th:text="${cleanedUrl + post.status.permalink}"
          ></div>

          <div class="mt-3 gap-12 sm:flex">
            <div>
              <div class="license-item">作者</div>
              <span th:text="${post.owner.displayName}"></span>
            </div>

            <div>
              <div class="license-item">发布于</div>
              <time
                th:text="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
              ></time>
            </div>

            <div>
              <div class="license-item">更新于</div>
              <time
                th:if="${#annotations.get(post, 'updateTime')}"
                th:text="${post.metadata.annotations.updateTime}"
              ></time>
              <time
                th:unless="${#annotations.get(post, 'updateTime')}"
                th:text="${#dates.format(post.status.lastModifyTime, 'yyyy-MM-dd')}"
              ></time>
            </div>

            <div>
              <div class="license-item">许可</div>
              <div>
                <a
                  th:href="${theme.config.post.copyright.link} ?: 'https://creativecommons.org/licenses'"
                >
                  <!-- <img class="h-8" th:src="@{/assets/images/CC-BY-NC-SA.svg}" /> -->
                  <span
                    class="icon-[cib--creative-commons] iconify-inline"
                  ></span>
                  <th:block th:if="${theme.config.post.copyright.license}">
                    <span
                      th:if="${#lists.contains(theme.config.post.copyright.license, 'by')}"
                      class="icon-[cib--creative-commons-by] iconify-inline"
                    ></span>
                    <span
                      th:if="${#lists.contains(theme.config.post.copyright.license, 'nc')}"
                      class="icon-[cib--creative-commons-nc] iconify-inline"
                    ></span>
                    <span
                      th:if="${#lists.contains(theme.config.post.copyright.license, 'sa')}"
                      class="icon-[cib--creative-commons-sa] iconify-inline"
                    ></span>
                    <span
                      th:if="${#lists.contains(theme.config.post.copyright.license, 'nd')}"
                      class="icon-[cib--creative-commons-nd] iconify-inline"
                    ></span>
                  </th:block>
                </a>
              </div>
            </div>
          </div>

          <!-- 末尾分类 & 标签 -->
          <div
            th:if="${not #lists.isEmpty(post.categories) or not #lists.isEmpty(post.tags)}"
            class="mt-4 flex justify-between text-sm"
          >
            <span class="flex gap-2">
              <th:block th:if="${not #lists.isEmpty(post.categories)}">
                <a
                  class="card-small"
                  th:each="category : ${post.categories}"
                  th:href="${category.status.permalink}"
                >
                  <span
                    class="icon-[material-symbols--folder-outline-rounded] iconify-inline"
                  ></span>
                  <span th:text="${category.spec.displayName}"></span>
                </a>
              </th:block>
            </span>

            <span class="flex gap-2">
              <th:block th:if="${not #lists.isEmpty(post.tags)}">
                <a
                  class="card-small"
                  th:each="tag : ${post.tags}"
                  th:href="${tag.status.permalink}"
                >
                  <span class="icon-[mdi--tag-outline] iconify-inline"></span>
                  <span th:text="${tag.spec.displayName}"></span>
                </a>
              </th:block>
            </span>
          </div>
        </div>

        <!-- 赞赏 -->
        <div class="relative">
          <div class="my-8 flex justify-center gap-4 text-sm">
            <button
              class="card-small cursor-pointer"
              id="upvote-button"
              th:data-post-id="${post.metadata.name}"
            >
              <span
                class="iconify-inline icon-[flowbite--thumbs-up-solid]"
              ></span>
              赞
              <span
                id="upvote-number"
                th:text="${post.stats?.upvote ?: 0}"
              ></span>
            </button>

            <button
              th:if="${theme.config.sponsor.enable}"
              class="card-small relative cursor-pointer"
              id="sponsor-button"
            >
              <span class="iconify-inline icon-[ph--coffee-fill]"></span>
              赏
            </button>
          </div>

          <div
            th:if="${theme.config.sponsor.enable}"
            class="card absolute bottom-full left-1/2 z-10 mb-4 hidden translate-x-[-50%] bg-white text-sm"
            id="sponsor-page"
          >
            <div class="flex justify-center gap-8">
              <div th:if="${!#strings.isEmpty(theme.config.sponsor.wechat)}">
                <img
                  class="w-32"
                  alt="微信"
                  th:src="${theme.config.sponsor.wechat}"
                />
                <div class="mt-1 text-center">
                  <span
                    class="icon-[mingcute--wechat-pay-line] iconify-inline"
                  ></span>
                  微信
                </div>
              </div>
              <div th:if="${!#strings.isEmpty(theme.config.sponsor.alipay)}">
                <img
                  class="w-32"
                  alt="支付宝"
                  th:src="${theme.config.sponsor.alipay}"
                />
                <div class="mt-1 text-center">
                  <span
                    class="icon-[ant-design--alipay-outlined] iconify-inline"
                  ></span>
                  支付宝
                </div>
              </div>
            </div>

            <a
              th:if="${theme.config.sponsor.list}"
              class="card-small hover:bg-primary mt-2 block text-center hover:bg-[url(./sponsorList.gif)] hover:text-white"
              href="/about"
            >
              <div class="font-bold">赞助名单</div>
              <div class="mt-1 text-xs">感谢你的支持</div>
            </a>
          </div>
        </div>

        <!-- 目录  -->
        <aside
          class="absolute top-0 right-[-160px] hidden h-full w-[120px] md:block"
        >
          <!-- <div class="mt-[1rem]"># 目录</div> -->
          <nav
            class="sticky top-10 pl-4 font-serif text-[0.8rem]"
            id="toc"
          ></nav>
        </aside>
      </section>

      <div class="mt-16" th:if="${haloCommentEnabled}">
        <halo:comment
          group="content.halo.run"
          kind="Post"
          th:attr="name=${post.metadata.name}"
        />
      </div>

      <th:block
        class="mt-16"
        th:if="${theme.config.comment.Artalk.enable}"
        th:with="server=${theme.config.comment.Artalk.server}, site=${theme.config.comment.Artalk.site}"
      >
        <div id="artalk"></div>

        <link th:href="@{${server} + '/dist/Artalk.css'}" rel="stylesheet" />
        <script th:src="@{${server} + '/dist/Artalk.js'}"></script>

        <script>
          Artalk.init({
            el: "#artalk",
            site: "[[${site}]]",
            // pageKey: "[[${post.metadata.name}]]",
            server: "[[${server}]]", // 后端地址
          });
        </script>
      </th:block>
    </article>

    <aside>
      <div class="buttons">
        <a class="to-top" href="#"></a>
      </div>
    </aside>

    <footer th:replace="~{module/footer}"></footer>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        main.generateTOC();
        main.scrollHighlightTOC();
        main.clickHighlightTOC();

        main.wordCountAndReadTime();

        main.generateTimeTips();

        main.addIconToLinks();

        main.upvote();
      });
    </script>
    <script th:if="${theme.config.sponsor.enable}">
      document.addEventListener("DOMContentLoaded", () => {
        main.sponsor();
      });
    </script>
  </body>
</html>
