<!doctype html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="~{module/head(title = '标签' + ' | ' + ${site.title})}">
  </head>

  <body>
    <header th:replace="~{module/header}"></header>

    <main class="flex flex-wrap gap-4" th:if="${not #lists.isEmpty(tags)}">
      <span class="card-small" th:each="tag : ${tags}">
        <span class="icon-[mdi--tag-outline] iconify-inline"></span>
        <a
          class="text-black"
          th:text="${tag.spec.displayName}"
          th:href="${tag.status.permalink}"
        ></a>
        <span th:text="${tag.postCount}"> </span>
      </span>
    </main>

    <footer th:replace="~{module/footer}"></footer>
  </body>
</html>
